@inherits LayoutComponentBase

<div class="bg-fullerton py-4">
    <a href="https://www.fullcoll.edu">
        <!--<img src="images/FC-logo.svg" alt="Fullerton College" id="logo" data-height-percentage="54" data-actual-width="300" data-actual-height="50.5">-->
        <img src="images/FC-logo.svg" alt="Fullerton College" id="logo" style="width: 75%; margin: auto;"/>
    </a>
</div>
