@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<MudAppBar>
    <div class="container-fluid">
        <div class="row my-2">
            <div class="col align-self-center">
                <div style="width:75%; max-width:300px">
                    <a href="https://www.fullcoll.edu">
                        <MudImage Src="images/FC-logo.svg" Alt="Fullerton College"/>
                    </a>
                </div>
            </div>
            <AuthorizeView>
                <Authorized>
                    <MudHidden Breakpoint="Breakpoint.MdAndUp" Invert="true">
                        <div class="col-auto align-self-center">
                            <NavLink href="CampusID/Admin" class="nav-link">Admin</NavLink>
                            @* <form action="" method="get"> *@
                            @*     <button type="submit" class="nav-link">Admin</button> *@
                            @* </form> *@
                        </div>
                        <div class="col-auto align-self-center">
                            <NavLink href="Account/Manage" class="nav-link">Manage Account</NavLink>
                            @* <form action="Account/Manage" method="get"> *@
                            @*     <button type="submit" class="nav-link">Manage Account</button> *@
                            @* </form> *@
                        </div>
                        <div class="col-auto align-self-center">
                            <form action="Account/Logout" method="post">
                                <AntiforgeryToken/>
                                <input type="hidden" name="ReturnUrl" value="@currentUrl"/>
                                <button type="submit" class="nav-link">
                                    <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span>Logout
                                </button>
                            </form>
                        </div>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        <div class="col-auto align-self-center">
                            <MudMenu Icon="@Icons.Material.Filled.Menu"
                                     Size="Size.Large"
                                     Color="Color.Tertiary"
                                     AnchorOrigin="Origin.BottomRight"
                                     AriaLabel="Open user menu">
                                <MudMenuItem>Profile</MudMenuItem>
                                <MudMenuItem>My account</MudMenuItem>
                                <MudMenuItem>Logout</MudMenuItem>
                            </MudMenu>
                        </div>
                    </MudHidden>
                </Authorized>
            </AuthorizeView>
        </div>
    </div>
</MudAppBar>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }

}
