@inherits LayoutComponentBase

<MudAppBar>
    <MudContainer Style="width:75%; max-width:300px" >
        <a href="https://www.fullcoll.edu">
            <MudImage Src="images/FC-logo.svg" Alt="Fullerton College"/>
        </a>
    </MudContainer>
</MudAppBar>
