@inherits LayoutComponentBase

<FluentHeader Height="80" Style="background-color: #0f406b">
    <div style="height: 100%; text-align: center; padding-top: 10px;">
    <a href="https://www.fullcoll.edu">
        <img src="images/FC-logo.svg" alt="Fullerton College" id="logo" style="height: 75%; margin: auto;"/>
    </a>
    </div>
</FluentHeader>
